.switch {
  
 
    opacity: 0;
    
  }
  
  .switch > div {
  
    width: 40px;
    height: 20px;
    background: rgb(238, 238, 238);
    z-index: 0;
    cursor: pointer;
    position: relative;
    border-radius: 50px;
    line-height: 40px;
    text-align: right;
    padding: 0 10px;
    margin-top:-15%;
    color: rgba(0,0,0,.5);
    transition: all 250ms;
    box-shadow: inset 0 3px 15px -3px
  }
  
  .switch > input:checked + div {
    background: rgb(24, 24, 24);
    text-align: left;
    color: rgba(126, 126, 126, 0.75);
  }
  
  .switch > div:before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    top: -2px;
    height: 18px;
    width: 18px;
    background: linear-gradient(#f9f9f9 30%,#CDCDCD);
    border-radius: 50%;
    transition: all 200ms;
    box-shadow: 0 15px 15px -3px rgba(0,0,0,.25), inset 0 -2px 2px -3px,  0 3px 0 0px #f9f9f9;
  }
  
  /* .switch > div:after {
    content: '';
    display: inline-block;
    position: absolute;
    left: 11px;
    top: 11px;
    height: 5px;
    width: 5px;
    background: linear-gradient(rgb(230, 55, 55),rgb(201, 30, 30));
    border-radius: 50%;
    transition: all 200ms;
  } */
  
  .switch > input:checked + div:after {
    left: 52px;
  }
  
  .switch > input:checked + div:before {
    content: '';
    position: absolute;
    left: 40px;
    border-radius: 50%;
  }
  .darkmode{
 
    float: right;
   margin-top:0.5%;
   
  }